<section class="aligncenter" id="page-banner">
  <p class="banner"></p>
</section>

<section id="main" class="row">

<div class="row">
  <div class="panel">
    <form id="myForm" class="custom" method="GET">
      <div class="row">

        <div class="large-6 columns">
          <label for="customDropdown1">Filter by American Pool Office</label>
          <select id="customDropdown1" class="large" name="organizer">
            <option>Select an organizer</option>
            <% @organizers.each do |name| %>
                  <% if params[:organizer]==name %>
                      <option selected="selected"><%= name %></option>
                  <% else %>
                      <option><%= name %></option>
                  <% end %>
            <% end %>
          </select>
          <% content_for :after_script_tags do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                $('#customDropdown1').change(function() {
                  $('#myForm').submit();
                });
              });

            <% end %>
          <% end %>
        </div>
      </div>
    </form>
  </div>

</div>
 
    <div class="large-10 columns">

      <div class="row">
        <div class="large-10 columns left">

        
        <% @training_classes.each do |training_class| %>
            <div class="trainingClass">
            <h3><%= link_to training_class.title, training_class.eventbrite_url, target: "_blank" %></h3>
            <strong><%= training_class.ends_at.strftime('%b %d, %Y') %></strong> - <strong><%= training_class.starts_at.strftime('%b %d, %Y') %></strong><br />
            <p>Location: <%= training_class.event_city %>, <%= training_class.event_state %><br/>
            Organizer: <%= link_to training_class.event_organizer, training_class.event_organizer_url, target: "_blank" %></p>
            <ul class="inline-list">
            <li><%= link_to "Register", training_class.eventbrite_url, class: "button bg-blue", target: "_blank" %></li>
            <li><a href="#" class="button secondary radius">Share</a></li>

          </ul>
            </div>
        <% end %>

        </div>
      </div>

      <%= paginate @training_classes %>
      <!-- End Feed Entry -->
      
 <!-- <div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div> -->
 
</div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-2 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
 
  </div>

</section>
 
  <!-- Footer -->
