<section class="aligncenter" id="page-banner">
  <p class="banner"></p>
</section>

<section id="main" class="row">

<div class="row">
<a name="register"></a>
  <div class="panel">
    <form id="myForm" class="custom" method="GET">
      <div class="row">

        <div class="large-6 columns">
          <label for="customDropdown1">Filter by American Pool Office</label>
          <select id="customDropdown1" class="large" name="organizer">
            <option>Select an organizer</option>
            <% @organizers.each do |name| %>
                  <% if params[:organizer]==name %>
                      <option selected="selected"><%= name %></option>
                  <% else %>
                      <option><%= name %></option>
                  <% end %>
            <% end %>
          </select>
          <% content_for :after_script_tags do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                $('#customDropdown1').change(function() {
                  $('#myForm').submit();
                });
              });

            <% end %>
          <% end %>
        </div>
      </div>
    </form>
  </div>

</div>
 
    <div class="large-10 columns">

      <div class="row">
        <div class="large-10 columns left">

        
        <% @training_classes.each do |training_class| %>
            <div class="trainingClass">
            <h3><%= link_to training_class.title, training_class.eventbrite_url, target: "_blank" %></h3>
            <strong><%= training_class.ends_at.strftime('%b %d, %Y') %></strong> - <strong><%= training_class.starts_at.strftime('%b %d, %Y') %></strong><br />
            <p>Location: <%= training_class.event_city %>, <%= training_class.event_state %><br/>
            Organizer: <%= link_to training_class.event_organizer, training_class.event_organizer_url, target: "_blank" %></p>
            <ul class="inline-list">
            <li><%= link_to "Register", training_class.eventbrite_url, class: "button bg-blue", target: "_blank" %></li>
          </ul>
            </div>
        <% end %>

        </div>
      </div>

      <%= paginate @training_classes %>
      <!-- End Feed Entry -->
 
</div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-2 columns hide-for-small">
    <br/>
      <p><a href="http://www.guardforlife.com/find-a-job/" target="_blank"><img src="/images/hiring-in-your-area-ad.jpg" /></a></p>
      <p><a href="http://www.guardforlife.com/" target="_blank"><img src="/images/become-a-lifeguard-ad.jpg" /></a></p>
    </aside>
 
  </div>

</section>
 
  <!-- Footer -->