<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Lifeguard Training" %></title>

    <%= favicon_link_tag("favicon.ico") %>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <link href='/app/assets/stylesheets/normalize.css' rel='stylesheet' type='text/css'>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet' type='text/css'>
    <link href='/app/assets/stylesheets/gfl.css' rel='stylesheet' type='text/css' >

  </head>

  <body class="page">

   <!-- Header and Nav -->

<section class="panel top-panel">
    <a href="http://www.guardforlife.com"> &lsaquo;&lsaquo; Go back to GuardForLife.com</a>
</section>

  <div class="row">

    <header>
      <div class="actions">
        <span id="logo">
          <a href="/">
            Guard For Life - Home
          </a>
        </span>

        <nav class="buttons">
          <a href="/#register" class="button bg-red">
            Register
          </a>
          <a href="http://www.guardforlife.com/" target="_blank" class="button bg-blue">
            Apply
          </a>
        </nav>
      </div>

      <nav class="primary Neris-Regular">
        <ul>
          <li class="nav-register"><a href="/">Register</a></li>
          <li class="nav-become"><a href="/options">Class Types</a></li>
          <li class="nav-apply"><a href="/get-trained">What should I take?</a></li>
          <li class="nav-jobs"><a href="/about">About our training</a></li>
        </ul>
      </nav>

    </header>

  </div>

  <!-- End Header and Nav -->

    <%= yield %>

    <%= render 'footer' %>
    
    <%= javascript_include_tag "application" %>
    <%= yield :after_script_tags %>
  </body>
</html>
