<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Lifeguard Training" %></title>

  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <link href='/app/assets/stylesheets/normalize.css' rel='stylesheet' type='text/css'>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet' type='text/css'>
  <!--
  /**
   * @license
   * MyFonts Webfont Build ID 2697272, 2013-11-27T12:48:07-0500
   * 
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are 
   * explicitly restricted from using the Licensed Webfonts(s).
   * 
   * You may obtain a valid license at the URLs below.
   * 
   * Webfont: Neris Light by Eimantas Paškonis
   * URL: http://www.myfonts.com/fonts/eimapas/neris/light/
   * 
   * Webfont: Neris Regular by Eimantas Paškonis
   * URL: http://www.myfonts.com/fonts/eimapas/neris/regular/
   * 
   * Webfont: Neris SemiBold by Eimantas Paškonis
   * URL: http://www.myfonts.com/fonts/eimapas/neris/semi-bold/
   * 
   * 
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=2697272
   * Licensed pageviews: 100,000
   * Webfonts copyright: Copyright &#x00A9; 2013 by Eimantas Paskonis. All rights
   * reserved.
   * 
   * © 2013 MyFonts Inc
  */

  -->
  <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/gfl.css">

  </head>

  <body class="page">

   <!-- Header and Nav -->

<section class="panel top-panel">
    <a href="http://www.guardforlife.com"> &lsaquo;&lsaquo; Go back to Guard for Life</a>
</section>

  <div class="row">

    <header>
      <div class="actions">
        <span id="logo">
          <a href="/">
            Guard For Life - Home
          </a>
        </span>

        <nav class="buttons">
          <a href="#" class="button bg-red">
            Apply
          </a>
          <a href="#" class="button bg-blue">
            Login
          </a>
        </nav>
      </div>

      <nav class="primary Neris-Regular">
        <ul>
          <li class="nav-register"><a href="/">Register Now</a></li>
          <li class="nav-become"><a href="/options">Class Types</a></li>
          <li class="nav-apply"><a href="/get-trained">How to get trained</a></li>
          <li class="nav-jobs"><a href="/about">About our training</a></li>
        </ul>
      </nav>

    </header>

  </div>

  <!-- End Header and Nav -->

    <%= yield %>

    <%= render 'footer' %>
    
    <%= javascript_include_tag "application" %>
    <%= yield :after_script_tags %>
  </body>
</html>
